@import "tailwindcss";

@theme {
  --bg-color: #121213;
  --text-color: #fff;
  --border-color: #424242;

  --correct-color: #538d4e;
  --present-color: #b59f3b;
  --absent-color: #3a3a3c;

  --tile-text-color: #f8f8f8;
  --tile-empty-border-color: #3a3a3c;
  --tile-unevaluated-border-color: #565758;

  --key-bg-color: #818384;
  --key-text-color: #f8f8f8;
  --key-evaluated-text-color: #f8f8f8;
  --key-evaluated-absent-text-color: #fff;
  --key-height: --spacing(14);
  --key-gap: --spacing(2);

  --toast-bg-color: #f8f8f8;
  --toast-text-color: #121213;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-color: var(--bg-color);
  color: var(--text-color);
}

@layer components {
  input[type="text"],
  input[type="number"],
  select {
    @apply px-4 py-2 rounded border border-(--border-color) outline-none;
    font: inherit;
  }

  select {
    @apply pr-8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="white"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 16px;
  }

  input[type="text"]:disabled,
  input[type="number"]:disabled,
  select:disabled {
    cursor: not-allowed;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
