@import "tailwindcss";

@theme {
  --bg-color: #121213;
  --header-text-color: #fff;
  --header-border-color: #424242;
  --correct-color: #538d4e;
  --present-color: #b59f3b;
  --absent-color: #3a3a3c;
  --tile-text-color: #f8f8f8;
  --tile-border-color: #3a3a3c;
  --tile-unevaluated-border-color: #565758;
  --key-text-color: #f8f8f8;
  --key-bg-color: #818384;
  --key-evaluated-text-color: #f8f8f8;
  --key-evaluated-absent-text-color: #fff;
  --toast-bg-color: #f8f8f8;
  --toast-text-color: #121213;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  90% {
    transform: translateX(-1px);
  }
  20%,
  80% {
    transform: translateX(2px);
  }
  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }
  40%,
  60% {
    transform: translateX(4px);
  }
}

.animate-shake {
  animation: shake 500ms ease;
}

@keyframes fade-out {
  0%,
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-fade-out {
  animation: fade-out 2000ms ease;
}
