@import "tailwindcss";

@theme {
  --bg-color: #121213;
  --text-color: #fff;
  --border-color: #424242;

  --correct-color: #538d4e;
  --present-color: #b59f3b;
  --absent-color: #3a3a3c;

  --tile-text-color: #f8f8f8;
  --tile-empty-border-color: #3a3a3c;
  --tile-unevaluated-border-color: #565758;

  --key-bg-color: #818384;
  --key-text-color: #f8f8f8;
  --key-evaluated-text-color: #f8f8f8;
  --key-evaluated-absent-text-color: #fff;
  --key-height: --spacing(14);
  --key-gap: --spacing(2);

  --toast-bg-color: #f8f8f8;
  --toast-text-color: #121213;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-color: var(--bg-color);
  color: var(--text-color);
}
